<app-header [isAuthenticated]="checkLogin()" (userTypeOutput)="getUserType($event)" (clickAllQP)="getQuestionPapers()" (clickSentCheckQP)="getSetterQuestionPapers()" (clickSentExaminerQP)="getExaminerQuestionPapers()" (clickToverifyQp)="getSentToVerificationPapers()"
    (clickToPapersAccToverifyQp)="getVerificationAcceptedPapers()" (clickToPapersVerified)="getVerifiedPapers()"></app-header>

<div class="row my-3">
    <div class="col-6">
        <app-quesion-papers [UserProfileChoice]="userTypeInMain" [questionpapers]="main_question_paper_list" (selectedPaperOutput)="selectQpFunc($event)" (selectEditQp)="editQPMainFunc($event)" (createQp)="createQpFunc()" (createQuestion)="createQuestionMainFunc()"
            (selectedeleteQp)="deleteQpMainFunc($event)" (qpAcceptedByCheckOrExam)="acceptingQPForVerifyMainFunc($event)" (createSubject)="subjectMainFunc()"></app-quesion-papers>
    </div>
    <div class="col-6">
        <app-quesion-paper *ngIf="selectedQP" [qp]="selectedQP" (sendForSetterApproval)="sendingQPforCheckerApprovalFunc($event)" (ApprovalTypeRequest)="verifyingQpMainFun($event)"></app-quesion-paper>
        <app-quesion-paper-form *ngIf="editingQp" [qp]="editingQp" (qpNew)="creatingQpFunc($event)" (movieEdit)="editingQPFunc($event)"></app-quesion-paper-form>
        <app-question-creation *ngIf="createQuestion" (newQuestion)="creatingQuestion($event)">

        </app-question-creation>
        <app-subject-form *ngIf="(is_subject_creating==true && userTypeInMain=='Examinar')" (subjectEmit)="subjectCreateFunc($event)">

        </app-subject-form>
    </div>
</div>