<div class="row my-2" *ngFor="let questionpaper of questionpapers">
    <div class="col-6" (click)="selectedQpFunc(questionpaper)">
        <h5>{{questionpaper.subject__subject_name|titlecase}}_{{questionpaper.total_marks}}</h5>
    </div>
    <div class="col-2 mx-1">
        <button type="button" class="btn btn-sm bg-info" (click)="editQpFunc(questionpaper)">
    <i class="fa fa-pen-to-square "></i>
  </button>
    </div>
    <div class="col-2 mx-1">
        <button type="button" class="btn btn-sm bg-danger">
    <i class="fa fa-trash "></i>
  </button>
    </div>
</div>
<div class="row">
    <div class="col center">
        <button type="button" class="btn btn-success" (click)="createQpFunc()"> New Test Paper </button>
    </div>
</div>