<div class="row my-2" *ngFor="let questionpaper of questionpapers">
    <div class="col-6" (click)="selectedQpFunc(questionpaper)">
        <h5>{{questionpaper.subject__subject_name|titlecase}}_{{questionpaper.total_marks}}</h5>
    </div>
    <div class="col-2 mx-1" *ngIf="UserProfileChoice=='Setter' && (questionpaper.is_sent_for_cheeck==false)">
        <button type="button" class="btn btn-sm bg-info" (click)="editQpFunc(questionpaper)">
          <i class="fa fa-pen-to-square "></i>
        </button>
    </div>
    <div class="col-2 mx-1" *ngIf="UserProfileChoice=='Setter'  && (questionpaper.is_sent_for_cheeck==false)">
        <button type="button" class="btn btn-sm bg-danger" (click)="deleteQpFunc(questionpaper.id)">
          <i class="fa fa-trash "></i>
        </button>
    </div>
    <div class="col-2 mx-1" *ngIf="UserProfileChoice!='Setter'">
        <div *ngIf="questionpaper.checker__username == null">
            <button type="button" class="btn btn-sm bg-success" (click)="qpAcceptedByCheckOrExamFunc(questionpaper.id)">
            <i class="fa-regular fa-circle-check"></i>
          </button>
        </div>
    </div>

</div>
<div class="row" *ngIf="UserProfileChoice=='Setter'">
    <div class="col center">
        <button type="button" class="btn btn-success" (click)="createQpFunc()"> New Test Paper </button>
    </div>
</div>
<div class="row my-5" *ngIf="UserProfileChoice=='Setter'">
    <div class="col center">
        <button type="button" class="btn btn-info " (click)="createQuestionFunc()"> New Question </button>
    </div>
</div>
<div class="row my-5" *ngIf="UserProfileChoice=='Examinar'">
    <div class="col center">
        <button type="button" class="btn btn-info " (click)="createSubjectFunc()"> New Subject </button>
    </div>
</div>